.box-shadow1 {
    box-shadow: 0 0 5px 5px #ff005d;
}

.box-shadow2 {
    box-shadow: 0 0 5px 5px #ea5aa9;
}

.box-shadow3 {
    box-shadow: 0 0 5px 5px #5f5aea;
}

.box-shadow4 {
    box-shadow: 0 0 5px 5px #5adeea;
}

.box-shadow5 {
    box-shadow: 0 0 5px 5px #5aea83;
}

.box-shadow6 {
    box-shadow: 0 0 5px 5px #e5ea5a;
}

.box-shadow7 {
    box-shadow: 0 0 5px 5px #ea705a;
}

.box-shadow8 {
    box-shadow: 0 0 5px 5px #FF4081;
}

.box-shadow9 {
    box-shadow: 0 0 5px 5px #7E57C2;
}

.box-shadow10 {
    box-shadow: 0 0 5px 5px #4FC3F7;
}

.box-shadow11 {
    box-shadow: 0 0 5px 5px #66BB6A;
}

.box-shadow12 {
    box-shadow: 0 0 5px 5px #FFA726;
}

.box-shadow13 {
    box-shadow: 0 0 5px 5px #9E9D24;
}

.box-shadow14 {
    box-shadow: 0 0 5px 5px #BA68C8;
}

.box-shadow15 {
    box-shadow: 0 0 5px 5px #FF5722;
}

.box-shadow16 {
    box-shadow: 0 0 5px 5px #795548;
}

.box-shadow17 {
    box-shadow: 0 0 5px 5px #607D8B;
}

.box-shadow18 {
    box-shadow: 0 0 5px 5px #FFCA28;
}

.box-shadow19 {
    box-shadow: 0 0 5px 5px #9C27B0;
}

.box-shadow20 {
    box-shadow: 0 0 5px 5px #00BCD4;
}

.box-shadow21 {
    box-shadow: 0 0 5px 5px #009688;
}

.box-shadow22 {
    box-shadow: 0 0 5px 5px #FFEB3B;
}

.box-shadow23 {
    box-shadow: 0 0 5px 5px #FF9800;
}

.box-shadow24 {
    box-shadow: 0 0 5px 5px #4CAF50;
}

.box-shadow25 {
    box-shadow: 0 0 5px 5px #795548;
}

.box-shadow26 {
    box-shadow: 0 0 5px 5px #3F51B5;
}

.box-shadow27 {
    box-shadow: 0 0 5px 5px #CDDC39;
}

.box-shadow28 {
    box-shadow: 0 0 5px 5px #9E9E9E;
}

.box-shadow29 {
    box-shadow: 0 0 5px 5px #E91E63;
}

.box-shadow30 {
    box-shadow: 0 0 5px 5px #03A9F4;
}

.box-shadow31 {
    box-shadow: 0 0 5px 5px #8BC34A;
}

.box-shadow32 {
    box-shadow: 0 0 5px 5px #FF5722;
}

.box-shadow33 {
    box-shadow: 0 0 5px 5px #607D8B;
}

.box-shadow34 {
    box-shadow: 0 0 5px 5px #FFCA28;
}

.box-shadow35 {
    box-shadow: 0 0 5px 5px #9C27B0;
}

.box-shadow36 {
    box-shadow: 0 0 5px 5px #00BCD4;
}

.box-shadow37 {
    box-shadow: 0 0 5px 5px #009688;
}

.box-shadow38 {
    box-shadow: 0 0 5px 5px #FFEB3B;
}

.box-shadow39 {
    box-shadow: 0 0 5px 5px #FF9800;
}

.box-shadow40 {
    box-shadow: 0 0 5px 5px #4CAF50;
}

.box-shadow41 {
    box-shadow: 0 0 5px 5px #795548;
}

.box-shadow42 {
    box-shadow: 0 0 5px 5px #3F51B5;
}

.box-shadow43 {
    box-shadow: 0 0 5px 5px #CDDC39;
}

.box-shadow44 {
    box-shadow: 0 0 5px 5px #9E9E9E;
}

.box-shadow45 {
    box-shadow: 0 0 5px 5px #E91E63;
}

.box-shadow46 {
    box-shadow: 0 0 5px 5px #03A9F4;
}

.box-shadow47 {
    box-shadow: 0 0 5px 5px #8BC34A;
}

.box-shadow48 {
    box-shadow: 0 0 5px 5px #FF5722;
}

.box-shadow49 {
    box-shadow: 0 0 5px 5px #607D8B;
}

.box-shadow50 {
    box-shadow: 0 0 5px 5px #FFCA28;
}

.box-shadow51 {
    box-shadow: 0 0 5px 5px #9C27B0;
}

.box-shadow52 {
    box-shadow: 0 0 5px 5px #00BCD4;
}
