@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");
* {
    outline: none;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

:root {
    --body-font: "Poppins", sans-serif;
    --theme-bg: #1f1d2bc5;
    --body-color: #808191;
    --button-bg: #4c45706a;
    --border-color: rgb(128 129 145 / 24%);
    --video-bg: #252936;
    --delay: 0s;
}

body {
    font-family: var(--body-font);
    color: var(--body-color);
    background-image: url("../img/cooking1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em 2em;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

body:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(163deg, rgb(31, 29, 43) 21%, rgba(31, 29, 43, 0.3113620448) 64%);
    opacity: 0.4;
    content: "";
}

.container {
    background-color: var(--theme-bg);
    max-width: 1240px;
    max-height: 900px;
    height: 95vh;
    display: flex;
    overflow: hidden;
    width: 100%;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
    position: relative;
    flex-shrink: 0;
}

.container .sidebar {
    font-size: 20px;
    letter-spacing: 2px;
}

.container .sidebar .what {
    color: #CECE5A;
}

.container .sidebar .to {
    color: #FD8D14;
}

.container .sidebar .eat {
    color: #C51605;
}

.recipe-container-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.recipe-container-link:hover {
    background-color: #F5F5DC;
}

.sidebar {
    width: 300px;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    transition-duration: 0.2s;
    overflow-y: auto;
    overflow-x: hidden;
}

@keyframes bottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}

.search-bar {
    background-color: var(--button-bg);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    padding-left: 0px;
    padding-top: 10px;
    padding-right: 20px;
    height: 70px;
    width: 120%;
    max-width: 440px;
}

.search-bar a {
    margin-bottom: 10px;
}

.search-bar input {
    width: 100%;
    height: 100%;
    border: none;
    font-family: var(--body-font);
    background-color: transparent;
    font-size: 20px;
    font-weight: 500;
    margin-left: 15px;
    margin-bottom: 10px;
    background-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: 96%;
    color: #fff;
}

.search {
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: 0.3s;
}

.search:hover {
    cursor: pointer;
    background-color: transparent;
}

.fa-magnifying-glass {
    transition: 0.3s;
    color: floralwhite;
    font-size: 36px;
}

.fa-magnifying-glass:hover {
    color: lightgreen;
    font-size: 40px;
}

.header {
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
    padding-top: 30px;
    margin-right: 100px;
    margin-top: 20px;
}

.main-container {
    display: flex;
    flex-direction: column;
    padding: 0 30px 30px;
    flex-grow: 1;
    overflow: auto;
}

.anim {
    animation: bottom 0.8s var(--delay) both;
}

.main-recipes {
    margin-top:100px;
    display: flex;
    flex-wrap: wrap;
}

.main-recipes ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.container-recipes {
    display: inline-block;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: flex-start;
    position: relative;
    margin: 30px;
    margin-bottom: 100px;
    margin-top: 50px;
    max-width: 100%;
    max-height: 100%;
    width: 328px;
    height: 266px;
    text-align: center;
    transition: all 0.3s;
}

i {
    font-size: 64px;
    color: floralwhite;
    transition: color 0.3s ease;
}

.sidebar .sidebar-icon {
    text-align: center;
    margin-top: 30px;
}

.container-recipes i.fa-xmark {
    font-size: 48px;
    position: absolute;
    right: -8%;
    top: -25%;
    color: firebrick;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-weight: bold;
}

.container-recipes:hover i.fa-xmark {
    opacity: 1;
}

.sidebar-icon i:hover {
    font-size: 70px;
    color: lightgreen;
}

.line {
    margin-top: 20px;
    border-bottom: solid 1px rgba(240, 248, 255, 0.8);
}

.testimonial {
    color: #353434;
    flex: 1;
    border-radius: 12px;
    border: 2px solid lightgrey;
    padding: 12px;
    background-color: #fff;
    overflow: auto;
}

.container-recipes:hover {
    transform: scale(1.1);
    z-index: 100;
}
@media screen and (max-width: 796px) {
    .testimonial {
        width: 100%;
    }
}
.testimonial h3 {
    display: inline;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-image: linear-gradient(transparent 60%, beige 0%);
}
.testimonial p {
    font-size: 18px;
}

.box-recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 700px;
    transform: translate(-50%, -50%);
    background: #E6E3DC;
    border-radius: 25px;
    padding: 20px;
}

.recipe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #202424ad;
    z-index: 100;
}

.recipe-container .title {
    width: 300px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #353434
}

.recipe-container {
    color: #353434;
    height: auto;
}

.ingredients-container {
    display: flex;
    flex-direction: column;
}

.ingredients-container label {
    margin-bottom: 10px;
}

.ingredients-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0px!important;
}

.ingredients-list li {
    margin: 0px!important;
}

.instructions-container {
    max-height: 400px;
    overflow-y: auto;
}

body > div.recipe-container > div > div.ingredients-container.box {
    margin: 0 0 2% 0!important;
    overflow-y: auto!important;
    max-height: 40%!important;;
    display: block!important;

}
.ingredients-list{
    margin: 0!important;
}
body  div.recipe-container  div  div.ingredients-container.box  label {
    position: unset!important;
}
.box label{
    position: unset!important;
}
.instructions-container {
    max-height: 400px!important;
    overflow-y: auto!important;
    margin-top: 5%!important;
}

.box {
    display: unset!important;
    position: unset!important;
    justify-content: center!important;
    margin: 0px!important;

}
body > div.recipe-container > div > label:nth-child(2) {
    margin-top: 7%!important;
}

.fa-xmark {
    color: firebrick;
    font-size: 46px;
    position: absolute;
    top: 1%;
    right: 3%;
    transition: .3s;
}

.fa-xmark:hover {
    color: red;
    font-size: 50px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #52535f;
}

::-webkit-scrollbar-thumb {
    background: floralwhite;
}

::-webkit-scrollbar-thumb:hover {
    background: lightgreen;
}