<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Add Ingredient</title>
  <link rel="stylesheet" th:href="@{/css/ingredients.css}" />
  <link rel="stylesheet" href="../static/css/ingredients.css">
  <script src="https://kit.fontawesome.com/30b5c3e166.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
  <div class="sidebar">
    <h1 class="what">What<span class="to">To</span><span class="eat">Eat</span></h1>
    <div class="line"></div>
    <div class="add-note anim" style="--delay: 0.2s">
      <a th:href="@{'/ingredients_input/' + 'add'}"><i class="fa-solid fa-circle-plus"></i></a>
    </div>
    <!--				<div class="add-ingredient anim" style="&#45;&#45;delay: 0.2s">-->
    <!--					<a th:href="@{'/ingredients_input/' + 'reset'}"><i class="fa-solid fa-trash-can"></i></a>-->
    <!--				</div>-->
  </div>
  <div class="wrapper">
    <div class="main-container">
      <div class="anim main-catalog" style="--delay: 0.1s">
      </div>
    </div>
  </div>
</div>
<div class="create-catalog">
  <div class="box-catalog">
    <form th:action="@{'/ingredients_input/' + 'add'}" th:method="post">
      <h2 class="note">Add Ingredient</h2>
      <div class="input-box">
        <label for="ingredient" id="ingredient-label">Ingredient name (single form)</label>
        <input type="text" id="ingredient" name="ingredient"/>
      </div>
      <button class="button" type="submit">Add Ingredient</button>
    </form>
    <a th:href="@{'/ingredients_input'}"
    ><i class="fa-solid fa-xmark"></i
    ></a>
  </div>
</div>

<script type="text/javascript" th:src="@{/js/ingredients.js}"></script>
</body>
</html>
