<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Error</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/errorPage.css}" />
		<script src="https://kit.fontawesome.com/30b5c3e166.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<div id="container">
			<div id="error-box">
				<div class="face2">
					<div class="eye"></div>
					<div class="eye right"></div>
					<div class="mouth sad"></div>
				</div>
				<div class="shadow move"></div>
				<div class="message">
					<h1 class="alert">Error!</h1>
					<p>oh no, something went wrong.</p>
				</div>
				<button class="button-box">
					<a th:href="@{'/'}"><span class="what">What</span><span class="to">To</span><span class="eat">Eat</span></a>
				</button>
			</div>
		</div>
	</body>
</html>
