<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>WhatToEat</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" />
</head>
<body>
<div class="background">
    <section class="wrapper">
        <div class="container">
            <div id="scene" class="scene" data-hover-only="false">
                <div class="circle" data-depth="1.2"></div>

                <div class="one" data-depth="0.9">
                    <div class="content">
                        <span class="piece"></span>
                        <span class="piece"></span>
                        <span class="piece"></span>
                    </div>
                </div>

                <div class="two" data-depth="0.60">
                    <div class="content">
                        <span class="piece"></span>
                        <span class="piece"></span>
                        <span class="piece"></span>
                    </div>
                </div>

                <div class="three" data-depth="0.40">
                    <div class="content">
                        <span class="piece"></span>
                        <span class="piece"></span>
                        <span class="piece"></span>
                    </div>
                </div>
                <p class="WhatToEat" data-depth="0.50"><span class="what">What</span><span class="to">To</span><span class="eat">Eat</span></p>
                <p class="WhatToEat" data-depth="0.10">WhatToEat</p>
            </div>

            <div class="text">
                <article>
                    <p>Find recipes you can cook with what you have in the fridge!</p>
                    <button class="button-link" onclick="document.getElementById('ingredient_input_link').click()">
                        <span><a id="ingredient_input_link" th:href="@{/ingredients_input}">Let's Start!</a></span>
                    </button>
                </article>
            </div>
        </div>
    </section>
</div>

<div class="cursor"></div>
<script type="text/javascript" th:src="@{/js/cursor.js}"></script>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>