<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Ingredient Input</title>
		<link rel="stylesheet" th:href="@{/css/ingredients.css}" />
		<link rel="stylesheet" th:href="@{/css/boxshadows.css}" />
		<script src="https://kit.fontawesome.com/30b5c3e166.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="container">
			<div class="sidebar">
				<h1 class="what">What<span class="to">To</span><span class="eat">Eat</span></h1>
				<div class="line"></div>
				<div class="sidebar-icon anim" style="--delay: 0.2s">
					<label><a th:href="@{'/ingredients_input/' + 'add'}"><i class="fa-solid fa-circle-plus"></i></a><br>Add Ingredient</label>
				</div>
				<div class="sidebar-icon anim" style="--delay: 0.2s">
					<label><a th:href="@{'/ingredients_input/' + 'deleteAll'}"><i class="fa-solid fa-trash-can"></i></a><br>Delete All Ingredients</label>
				</div>
				<br>
				<div class="slide-bar anim">
					<label for="slider">Minimum Match Percentage: <span id="sliderValue">50</span></label>
					<input type="range" id="slider" name="slider" min="25" max="100" value="50">
				</div>
				<div class="sidebar-icon anim" style="--delay: 0.2s">
					<label><a th:href="@{'/recipes'}"><i class="fa-solid fa-search"></i></a><br>Search For Recipes</label>
				</div>
			</div>
			<div class="wrapper">
				<div class="main-container">
					<div class="anim main-ingredients" style="--delay: 0.1s">
						<ul th:each="ingredient : ${ingredientList}">
							<div class="container-ingredient">
								<li>
									<i class="fa-solid fa-burger" style="color: #e5cb7a;"></i>
									<br>
									<span th:text="${ingredient}">Ingredient Name</span>
								</li>
								<div>
									<a th:href="@{'/ingredients_input/' + 'delete/' + ${ingredient}}"
										><i class="fa-solid fa-xmark"></i
									></a>
								</div>
							</div>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/js/ingredients.js}"></script>
	</body>
</html>
