<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipes</title>
    <link rel="stylesheet" th:href="@{/css/recipes.css}" />
    <link rel="stylesheet" th:href="@{/css/boxshadows.css}" />
    <script src="https://kit.fontawesome.com/30b5c3e166.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="sidebar">
        <h1 class="what">What<span class="to">To</span><span class="eat">Eat</span></h1>
        <div class="line"></div>
        <div class="add-note anim" style="--delay: 0.2s">
            <label><a th:href="@{'/recipes' + '/sortByMatchPercent'}"><i class="fa-solid fa-arrow-down-9-1"></i></a><br>Sort By Match Percentage</label>
        </div>
        <div class="add-note anim" style="--delay: 0.2s">
            <label><a th:href="@{'/recipes' + '/sortByIngredientCount'}"><i class="fa-solid fa-arrow-down-short-wide"></i></a><br>Sort By Ingredient Count</label>
        </div>
        <div class="add-note anim" style="--delay: 0.2s">
            <label><a th:href="@{'/recipes' + '/dontSort'}"><i class="fa-solid fa-filter-circle-xmark"></i></a><br>Clear Sorting and Searching</label>
        </div>
        <div class="add-note anim" style="--delay: 0.2s">
            <label><a th:href="@{'/ingredients_input'}"><i class="fa-solid fa-arrow-left"></i></a><br>Go Back to Ingredients Input</label>
        </div>
    </div>
    <div class="wrapper">
        <div class="header">
            <form class="search-bar" th:action="@{'/recipes/search'}" th:method="post">
                <input type="text" id="search" name="search" th:placeholder="${searchQuery}" />
                <button class="search" type="submit"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <div class="main-container">
            <div class="anim main-notes" style="--delay: 0.1s">
                <ul th:each="recipe : ${recipeList}">
                    <a th:href="@{'/recipes/recipeView?title=' + ${recipe.getTitle()}}" class="recipe-container-link" style="color: inherit; text-decoration: none; border: none; background-color: transparent;">
                        <div class="container-notes">
                            <div class="testimonial">
                                <h3 th:text="${recipe.getTitle()}"></h3>
                                <p><img th:src="@{'/food_img/' + ${recipe.getPictureLink()} + '.jpg'}" /></p>

                                <div th:if="${recipe.getMatchPercent() >= 85}" style="color: green;">
                                    Match Percentage = <span th:text="${recipe.getMatchPercent()}"></span>
                                </div>
                                <div th:if="${recipe.getMatchPercent() >= 70 and recipe.getMatchPercent() < 85}" style="color: orange;">
                                    Match Percentage = <span th:text="${recipe.getMatchPercent()}"></span>
                                </div>
                                <div th:if="${recipe.getMatchPercent() >= 50 and recipe.getMatchPercent() < 70}" style="color: #FFD700;"> <!-- Use gold color -->
                                    Match Percentage = <span th:text="${recipe.getMatchPercent()}"></span>
                                </div>
                                <div th:if="${recipe.getMatchPercent() < 50}" style="color: red;">
                                    Match Percentage = <span th:text="${recipe.getMatchPercent()}"></span>
                                </div>

                                <div>
                                    Ingredient Count = <span th:text="${recipe.getIngredientList().size()}"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/recipes.js}"></script>
</body>
</html>
